%ul.captioned{ title: title }
  %li= download_link 'Low Res', "logos/#{file}_#{title}_lr.png"
  %li= download_link 'Medium Res', "logos/#{file}_#{title}_mr.png"
  %li= download_link 'High Res', "logos/#{file}_#{title}_hr.png"
  %li= download_link 'Illustrator', "logos/#{file}_#{title}.ai"
  %li= download_link 'EPS', "logos/#{file}_#{title}.eps"
  %li= download_link 'PDF', "logos/#{file}_#{title}.pdf"
  %li= download_link 'SVG', "logos/#{file}_#{title}.svg"

