%ul.captioned{ title: title }
  %li= link_to 'Low Res (20kb)', "##{file}.low-res"
  %li= link_to 'Medium Res (600kb)', "##{file}.med-res"
  %li= link_to 'High Res (2mb)', "##{file}.high-res"
  %li= link_to 'Illustrator (1mb)', "##{file}.ai"
  %li= link_to 'EPS (1mb)', "##{file}.eps"
  %li= link_to 'PDF (1mb)', "##{file}.pdf"
  %li= link_to 'SVG (1mb)', "##{file}.svg"

