%section#templates
  %header
    %h1 Templates

  %article#presentation
    %h1 Presentation

    %ul
      %li= link_to 'Keynote (1.5mb)', '#'
      %li= link_to 'Powerpoint (2mb)', '#'

  %article#document
    %h1 Document

    %ul
      %li= link_to 'Word (1.5mb)', '#'
      %li= link_to 'PDF (2mb)', '#'
      %li= link_to 'Illustrator (2mb)', '#'

