%section#templates
  .container
    %h1 Templates

    %article#presentation
      %h2.presentation-title Presentation

      %ul
        %li= link_to 'Keynote (1.5mb)', '#'
        %li= link_to 'Powerpoint (2mb)', '#'

    %article#document
      %h2.document-title Document

      %ul
        %li= link_to 'Word (1.5mb)', '#'
        %li= link_to 'PDF (2mb)', '#'
        %li= link_to 'Illustrator (2mb)', '#'

