%section#templates
  .container
    %h1 Templates

    %article#presentation
      %h2.presentation-title Presentation

      %ul
        %li= download_link 'Keynote', 'presentation.kth'
        %li= download_link 'Powerpoint', 'presentation.pot'

    %article#document
      %h2.document-title Document

      %ul
        %li= download_link 'Word', 'document.dot'
        %li= download_link 'PDF', 'document.pdf'
        %li= download_link 'Illustrator', 'document.ai'

