%h2 Our branding

%nav{ class: klass }
  = link_to 'Logo', '#logo'
  = link_to 'Color scheme', '#color-scheme'
  = link_to 'Typography', '#typography'
  = link_to 'Templates', '#templates'
  = link_to 'Wallpapers', '#wallpapers'
