!!!
%html
  %head
    %title AssetsStore
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body
    %main
      = yield
    = render 'footer'
    = render 'scripts'

